* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #efefef;
}


/*header section*/

.header {
    background-color: #43281c;
    color: #fbf2c0;
}

.logo-title-section {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    height: 25px;
    position: relative;
    top: 25px;
    margin-right: 6px;
}

.main-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}